{% extends 'base.html' %}

{% block title %} About{% endblock title %}

{% block content %}
<div class="container text-center">
    <h1 style="font-weight: bold;">About</h1>
    <p>Learn more about this website</p>
</div>
<div class="container" style="background-color:  rgba(21, 22, 27, 0.664); padding: 1.5rem; border-radius: 2%;">
    <div class="row" style="margin-bottom:20px;">
        <div class="col-10" style="text-align: justify;">
            <h5>What is MySite?</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, sit possimus nemo odit harum error a
                obcaecati suscipit. Praesentium a consectetur qui nostrum earum veritatis maxime ea, aperiam expedita
                vero, quisquam ducimus eum eos excepturi ullam repellat impedit. Minima soluta voluptatem ipsam laborum
                fuga perferendis est possimus delectus odit velit?</p>
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/474x/48/bf/f4/48bff4590d400896ea2b73d1f9fc6953.jpg"
                style="width:8rem; height: 8rem; border-radius: 10%; margin-right: auto; margin-left: auto; display: block;" />
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col-10" style="text-align: justify;">
            <h5>Log In</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A officiis, error, quo reprehenderit quisquam
                nihil quibusdam magni facere eum adipisci amet provident repellendus maxime molestiae! Quisquam totam
                reiciendis id laborum consequatur odit nemo aliquid nobis, deserunt, architecto in veritatis. Repellat!
            </p>
        </div>
        <div class="col">
            <img src="https://slp-statics.astockcdn.net/static_assets/staging/22spring/audio/Card1_301535076_.jpg?width=580"
                style="width:8rem; height: 8rem; border-radius: 10%; margin-right: auto; margin-left: auto; display: block;" />
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col-10" style="text-align: justify;">
            <h5>List</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A officiis, error, quo reprehenderit quisquam
                nihil quibusdam magni facere eum adipisci amet provident repellendus maxime molestiae! Quisquam totam
                reiciendis id laborum consequatur odit nemo aliquid nobis, deserunt, architecto in veritatis. Repellat!
            </p>
        </div>
        <div class="col">
            <img src="https://images.ctfassets.net/bdyhigkzupmv/6lySzcy7qcIN1tf81Qkus/5b5ac73daeaf61f9057c0b0dd8447a31/hero-guitar-outro.jpg"
                style="width:8rem; height: 8rem; border-radius: 10%; margin-right: auto; margin-left: auto; display: block;" />
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col-10" style="text-align: justify;">
            <h5>Reset Password</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A officiis, error, quo reprehenderit quisquam
                nihil quibusdam magni facere eum adipisci amet provident repellendus maxime molestiae! Quisquam totam
                reiciendis id laborum consequatur odit nemo aliquid nobis, deserunt, architecto in veritatis. Repellat!
            </p>
        </div>
        <div class="col">
            <img src="https://image.shutterstock.com/image-photo/stock-photo-a-group-of-musical-instruments-including-a-guitar-drum-keyboard-tambourine-250nw-681809980.jpg"
                style="width:8rem; height: 8rem; border-radius: 10%; margin-right: auto; margin-left: auto; display: block;" />
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col-10" style="text-align: justify;">
            <h5>Log In</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A officiis, error, quo reprehenderit quisquam
                nihil quibusdam magni facere eum adipisci amet provident repellendus maxime molestiae! Quisquam totam
                reiciendis id laborum consequatur odit nemo aliquid nobis, deserunt, architecto in veritatis. Repellat!
            </p>
        </div>
        <div class="col">
            <img src="https://img.freepik.com/free-photo/young-handsome-happy-hipster-man-listening-music-with-headphones-black-studio-with-neon-lights-disco-night-club-hip-hop-style-positive-emotions-face-expression-dancing-concept_155003-34212.jpg?w=2000"
                style="width:8rem; height: 8rem; border-radius: 10%; margin-right: auto; margin-left: auto; display: block;" />
        </div>
    </div>
</div>
{% endblock content %}